<div id="contact">
  <div class="container">
    <h2>
      <i class="fi fi-rs-phone-guide"></i>
      {{ "contact.title" | translate }}
    </h2>
    <p>{{ "contact.description" | translate }}</p>

    <div class="contact-grid">
      <div class="contact-item">
        <a
          href="https://www.google.com/maps/search/?api=1&query=Martorelles,+Barcelona,+Espa%C3%B1a"
          target="_blank"
          rel="noopener noreferrer"
        >
          <h3>
            <i class="fi fi-rs-map-marker"></i>
            {{ "contact.address" | translate }}
          </h3></a
        >
      </div>

      <div class="contact-item">
        <a href="tel:+34620175760" rel="noopener noreferrer">
          <h3>
            <i class="fi fi-rr-phone-call"></i>
            {{ "contact.phone" | translate }}
          </h3></a
        >
      </div>

      <div class="contact-item">
        <a
          href="https://github.com/sergioAlbaGit"
          target="_blank"
          rel="noopener noreferrer"
        >
          <h3>
            <i class="fi fi-brands-github"></i>
            {{ "contact.github" | translate }}
          </h3></a
        >
      </div>
      <div class="contact-item">
        <a
          href="mailto:sergio.alba.dev@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <h3>
            <i class="fi fi-rr-envelope"></i>
            {{ "contact.email" | translate }}
          </h3></a
        >
      </div>
      <div class="contact-item">
        <a
          href="https://wa.me/34620175760"
          target="_blank"
          rel="noopener noreferrer"
        >
          <h3>
            <i class="fi fi-brands-whatsapp"></i>
            {{ "contact.whatsapp" | translate }}
          </h3></a
        >
      </div>
      <div class="contact-item">
        <a
          href="https://www.linkedin.com/in/sergioalbatorres/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <h3>
            <i class="fi fi-brands-linkedin"></i>
            {{ "contact.linkedin" | translate }}
          </h3></a
        >
      </div>
    </div>
  </div>
</div>
