mat-card{
  text-align: center;
  margin-bottom: 20px;
}

mat-accordion{
  width: 100%;
  max-width: 400px;
  margin: auto;
}

mat-expansion-panel{
  margin-bottom: 10px;
}

mat-list-item{
  font-size: 14px;
}
